:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --primary-color: #ecd282;
  --second-color: #ff8400;
  --brown-color: #1c1c1c;
  --buttons-color: #011936;
  --input-fields-color: #fffcf6;

  background-color: var(--input-fields-color);
}

@font-face {
  font-family: "MarckScripts";
  src: url("./assets/Fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
}
