.section {
  margin-top: 8%;
}

.dataGrid {
  width: 80%;
  margin-left: 20%;
  margin-top: 4%;
}

.dataGridMobile {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 40%;
  margin: 0 auto;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
}

.buttonSection .btns {
  margin-right: 2%;
  margin-bottom: 4%;
}

.inputFields {
  color: var(--primary-color);
  margin-right: 100%;
  width: 100%;
}

.container .btns {
  flex: 1;
  background-color: var(--primary-color);
  color: var(--black-color-);
  font-weight: 600;
  font-size: 12px;
}

.addUserSection,
.editUserSection,
.deleteUserSection {
  margin-top: 10%;
}

.newUser {
  color: var(--black-color-);
  font-family: "MarckScripts", sans-serif;
  font-size: 24px;
  margin: 0;
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm .btn {
  background-color: var(--primary-color);
  color: var(--black-color-);
  font-weight: 600;
  font-size: 12px;
}

.errorMsg {
  color: var(--error-color);
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .userDetails {
    flex-direction: column;
  }

  .userDetails > div {
    width: 100%;
  }

  .flexColumn .button {
    width: auto;
  }
}
