.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60%;
    margin: 0 auto;
    background-color: var(--input-fields-color);
    border: 1px solid #dee2e6;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 5%;
    overflow: hidden;
  }
  
  .formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 6%;
    background-color: var(--input-fields-color);
    order: 2;
  }
  
  .formSection .button {
    background-color: var(--primary-color);
    color: var(--black-color);
    font-weight: bold;
    margin-top: 4%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    display: block;
  }
  
  .imageSection {
    position: relative;
    width: 65%;
    height: 100%;
    opacity: 0.92;
    order: 1;
  }
  
  .imageSection img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  
  .title {
    font-family: "MarckScripts", sans-serif;
    font-size: 48px;
    margin-bottom: 10%;
  }
  
  .googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }
  
  .titleOverImage {
    font-family: "MarckScripts", sans-serif;
    font-size: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--input-fields-color);
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @media screen and (max-width: 768px) {
    .loginContainer {
      flex-direction: column;
      height: auto;
      width: 90%;
    }
  
    .formSection {
      width: 100%;
    }
  
    .imageSection {
      width: 100%;
      height: auto;
    }
  
    .titleOverImage {
      top: 25%;
      font-size: 48px;
    }
  }