.section {
  margin-top: 8%;
}

.container {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
}

.buttonSection .btns {
  margin-right: 2%;
  margin-bottom: 4%;
}

.inputFields {
  color: var(--primary-color);
  margin-right: 10%;
  width: 100%;
}

.container .btns {
  flex: 1;
  background-color: var(--primary-color);
  color: var(--black-color-);
  font-weight: 600;
  font-size: 12px;
}

.newRestaurant {
  color: var(--black-color-);
  font-family: "MarckScripts", sans-serif;
  font-size: 24px;
  margin: 0;
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm .btn {
  background-color: var(--primary-color);
  color: var(--black-color-);
  font-weight: 600;
  font-size: 12px;
}

.errorMsg {
  color: var(--error-color);
  font-size: 16px;
  font-weight: bold;
}

.restaurantsSection {
  padding: 4% 2%;
  border-radius: 24px;
  margin-bottom: 6%;
  background-color: var(--bg-color);
  border: 1px solid var(--borders-color);
}

.restaurantContainer {
  display: flex;
  align-items: center;
  padding: 4%;
  border: 1px solid var(--borders-color);
  border-radius: 20px;
  margin-bottom: 2%;
  width: 100%;
  background-color: var(--input-fields-color);
}

.boxName {
  display: inline-block;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxRestaurant {
  display: inline-block;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnSelect {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2% 4%;
  cursor: pointer;
}

.containerSelected {
  border-color: var(--second-color);
  border-width: 2px;
}

.restaurantName {
  font-size: 18px;
  margin-right: 4%;
}

.restaurantAddress {
  font-size: 18px;
}

.restaurantContainer {
  display: flex;
  justify-content: space-between;
}

.flexRow {
  display: flex;
}
