.section {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.greyPart {
  height: 70%;
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: right bottom;
}

.whitePart {
  background-color: var(--white-color);
  height: 30%;
  width: 100%;
  display: flex;
  text-align: center;
}

.splitLeft,
.splitRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "MarckScripts", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.text {
  font-family: "MarckScripts", sans-serif;
  font-size: 2rem;
  color: var(--white-color);
  margin-bottom: 10%;
  margin-top: 4%;
}

.image {
  position: absolute;
  height: 100%;
  width: 34%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.message {
  position: absolute;
  font-family: "MarckScripts", sans-serif;
  font-size: 1.5rem;
  color: var(--black-color);
  right: 4%;
  bottom: 10%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .text {
    font-size: 2rem;
  }

  .message {
    font-size: 1.2rem;
  }

  .image {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .text,
  .message {
    font-size: 1.25rem;
  }

  .image {
    width: 70%;
  }

  .greyPart,
  .whitePart {
    flex-direction: column;
  }

  .splitLeft,
  .splitRight {
    width: 100%;
  }
}
